* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: steelblue;
    display: flex;
}

nav a{
    color: white;
    padding: 1rem;
    text-decoration: none;
    display: block;
    flex: 1;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 2rem;
    max-width: 1000px;
    margin: 1rem auto;
}

main{
    max-width: 840px;
}

main h1{
    color: steelblue;
    border-bottom: 1px solid #999;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
}

main img{
    width: 150px;
    height: auto;
    float: right;
    margin-left: 1rem;
    border: 1px solid #000;
    padding: 3px;
    box-shadow: 0 0 20px gray;
}

p{
    padding: 0;
    line-height: 1.5;
}

aside{
    width: 250px;
    text-align: center;
    position: relative;
}

aside h2{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(18, 1, 1);
}

aside img{
    width: 200px;
    height: auto;
}

.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.2);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

footer{
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 1rem;
}